<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  </head>
  <body>
    <div class="A">
      <h1><a href="/">BLOG</a></h1>
    </div>
    <div class="B">
      <p>Published : 14.2.2018, 11:55</p>
      <h2><a href="">My First Post</a></h2>
      <p> Welcome to My Food Blogging Site Where You can share your <br>
      ideas of cooking and recipes you are being tried and show to all <br>
      the world </p>
      <p>MY food Blogging is about healthy Food items that t be taken every time <br>
      Eat healthy foods to keeo fit and healthy</p>
    </div>
    <div class="C">
      <p>Published:15-9-2018,2:30 </p>
      <h2><a href="My Second Post"></a></h2>
      <p> Aenean eu leo quam. Pellentesque ornare sem lacinia quam <br>
         venenatis vestibulum. Donec id elit non mi porta gravida at eget <br>
         metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f</p>
    </div>
  </body>
</html>
